<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://evolutionserviceapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>evolutionserviceapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EvolutionServiceApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EvolutionServiceApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureWebJobsDashboard" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=artiststorage;AccountKey=LP/Ddsr3P9+DFFX8bxmLr2XYK+r3MJoCXKXj0FkMfwKG2t5OdEo4rXcyypX2IfzrJDsl2BkKNtrKoRyRQGuocQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsDashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=artiststorage;AccountKey=LP/Ddsr3P9+DFFX8bxmLr2XYK+r3MJoCXKXj0FkMfwKG2t5OdEo4rXcyypX2IfzrJDsl2BkKNtrKoRyRQGuocQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=artiststorage;AccountKey=LP/Ddsr3P9+DFFX8bxmLr2XYK+r3MJoCXKXj0FkMfwKG2t5OdEo4rXcyypX2IfzrJDsl2BkKNtrKoRyRQGuocQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=artiststorage;AccountKey=LP/Ddsr3P9+DFFX8bxmLr2XYK+r3MJoCXKXj0FkMfwKG2t5OdEo4rXcyypX2IfzrJDsl2BkKNtrKoRyRQGuocQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EvolutionServiceContext" Order="5" Enabled="True">
          <Destination Path="Data Source=tcp:ca4jbl5mka.database.windows.net,1433;Initial Catalog=EvolutionServiceApiContent_db;User ID=EvolutionserviceDB@ca4jbl5mka;Password=Artist123!" Name="Data Source=tcp:ca4jbl5mka.database.windows.net,1433;Initial Catalog=EvolutionServiceApiContent_db;User Id=EvolutionserviceDB@ca4jbl5mka;Password=Artist123!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EvolutionService.Models.EvolutionServiceContext, EvolutionService" MigrationConfiguration="EvolutionService.Migrations.Configuration, EvolutionService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:ca4jbl5mka.database.windows.net,1433;Initial Catalog=EvolutionServiceApi_db;User ID=EvolutionserviceDB@ca4jbl5mka;Password=Artist123!" Name="Data Source=tcp:ca4jbl5mka.database.windows.net,1433;Initial Catalog=EvolutionServiceApi_db;User Id=EvolutionserviceDB@ca4jbl5mka;Password=Artist123!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EvolutionService.Web.Api.Models.ApplicationDbContext, EvolutionService.Web.Api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsDashboard-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ca4jbl5mka.database.windows.net,1433;Initial Catalog=EvolutionServiceApi_db;User Id=EvolutionserviceDB@ca4jbl5mka;Password=Artist123!;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EvolutionServiceContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ca4jbl5mka.database.windows.net,1433;Initial Catalog=EvolutionServiceApiContent_db;User Id=EvolutionserviceDB@ca4jbl5mka;Password=Artist123!;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>